.fp-contact-form {
    @include max-width-semi;
    display: grid;
    grid-template-columns: auto 3rem 30%;
    background-color: $off-white;

    &__form {
        @include inputareas;
        @include submit;

        &-text {
            font-size: rem-calc(20);
        }

        form {
            p:first-of-type {
                @include field-left;
            }

            p:nth-of-type(2) {
                @include field-right;
            }

            @include submit-with-text;
        }
    }

    &__ask-law {
        grid-column: 3;
        border-radius: $m-border-radius;
        background-color: $abyssal_anchorfish_blue;

        &-img {
            height: 50%;
            background-size: cover;
            background-position: center;
            border-top-left-radius: $m-border-radius;
            border-top-right-radius: $m-border-radius;
        }

        &-content {
            height: 50%;
            color: white;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            &-title {
                color: white;
                margin-bottom: rem-calc(12);
            }

            &-text {
                margin-bottom: rem-calc(26);
            }
        }

        &-button {
            width: max-content;
            padding: rem-calc(10) rem-calc(25);
            font-size: rem-calc(14);

            &-img {
                @include to-white;
                margin-right: rem-calc(8);
                height: rem-calc(18);
            }
        }
    }
}