.fp-contact {
    @include max-width-semi;
    background-color: white;

    &__main {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__content {
        min-width: 150px;

        a {
            color: $darker-grey-blue;
            text-decoration: none;
            transition: all .3s;

            &:hover {
                color: $popup-orange;
            }
        }
    }

    &__socials {
        margin-top: 3rem;

        a {
            text-decoration: none;
            color: $dark-blue;
        }
    }
}