.fp-coworkers {
    @include max-width-semi;
    background-color: white;

    &__title {
        text-align: center;
        margin-bottom: rem-calc(50);
    }

    &__coworkers-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;

        @include medium-up {
            grid-template-columns: repeat(2, 1fr);
        }

        @include large-up {
            grid-template-columns: repeat(3, 1fr);
        }

        @include xlarge-up {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__coworker {
        &-img-container {
            @include large-up {
                height: 390px;
            }
        }

        &-img {
            object-fit: cover;
            border-radius: $m-border-radius;
            height: 100%;
            width: 100%;
        }

        &-text {
            display: flex;
            flex-direction: column;
            padding: rem-calc(20) 0;

            @include medium-up {
                padding: rem-calc(20) rem-calc(15);
            }
        }

        &-name {
            font-size: rem-calc(20);
            margin: 0;
        }

        &-type {
            color: $dark-grey-blue;
            margin: 0;
        }

        &-email, &-phone {
            font-size: rem-calc(14);
            line-height: rem-calc(24);
            margin: 0;
            color: $darker-grey-blue;
            text-decoration: none;
        }

        &-phone::before {
            content: 'Tel. ';
        }
    }
}