.fp-order-navigation {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;

    @include medium-up {
        flex-direction: row;
    }

    &__next {
        width: 100%;

        &-img {
            @include to-white;
            margin-left: .5rem;
        }

        @include medium-up {
            width: max-content;
        }
    }

    &__back {
        margin-top: 1rem;
        align-self: flex-start;
        text-decoration: none;
        color: $lighter-dark-grey-blue;

        @include medium-up {
            margin-top: 0;
            align-self: initial;
        }
    }
}