.fp-order-info {
    background-color: white;
    border-radius: $m-border-radius;
    padding: 2rem;
    height: min-content;

    @include medium-up {
        padding: 4rem;
    }

    &__title {
        text-align: center;
    }

    h3 {
        font-weight: 900;
    }

    &__bundle {
        color: $mirage;
        font-weight: 100;
        font-family: "TT Hoves", sans-serif;

        table {
            margin: 0;
            width: 100%;
        }

        td {
            padding: .5rem 0;

            img {
                height: rem-calc(15);
            }
        }

        td:nth-of-type(2) {
            float: right;
        }

        .not-checked {
            color: $lighter-dark-grey-blue;
        }
    }

    &__price {
        text-align: right;

        &-sek {
            font-weight: 900;
            font-size: rem-calc(20);
            color: $darker-blue;
            margin-bottom: 0;
        }

        &-exclusive {
            font-size: rem-calc(14);
            color: $dark-grey-blue;
            margin-top: .5rem;
            margin-bottom: 0;
        }
    }
}