.fp-popup-read-more {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(43, 66, 75, .8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 12;

    &.toggle {
        display: flex;
    }

    &--boldify {
        font-weight: 900;
    }

    &--no-margin-top {
        margin-top: 0;
    }

    &__title {
        margin: 0;
        font-size: rem-calc(18);
    }

    &__popup {
        position: relative;
        width: 50%;
        background-color: white;
        border-radius: $m-border-radius;
        padding: rem-calc(75);
        text-align: left;

        &-price {
            font-size: rem-calc(18);
        }

        &-link {
            font-size: rem-calc(16);
            color: $darker-grey-blue;
            font-family: "TT Hoves", sans-serif;
        }
    }

    &__close {
        position: absolute;
        top: rem-calc(22);
        right: rem-calc(22);
        font-size: rem-calc(12);
        text-decoration: none;
        color: $darker-grey-blue;

        &-img {
            height: 8px;
            width: 8px;
        }
    }
}