.fp-stepper {
    font-size: rem-calc(12);
    margin-bottom: 3rem;

    &__link {
        text-decoration: none;
        margin-right: 2rem;
        color: $lighter-dark-grey-blue;
        transition: all .3s;
    }

    &__active {
        color: $darker-grey-blue;
        font-weight: 900;
    }
}