/*
* Colors.
*/

// For text
$darker-blue: #0F2D3F; // Titles, links, backgrounds, buttons, arrows.
$dark-blue: #2A3D48;
$darker-grey-blue: #2B424B;
$grey-blue-opacity: rgba(43, 66, 75, .28);
$lighter-dark-grey-blue: #BBC8D0;
$mirage: #151D2E;
$abyssal-anchorfish-blue: #172B33;
$collab-blue: #738895;
$greyed-out-text: #D3D3D3;

// Backgrounds
$off-white: #F5F7F8; // Also buttons, texts.
$yellow: #FFF8EB;
$light-yellow: #FFF1D9; // Also texts.
$grey-blue: #E5EAED;
$white: #ffffff;
$black: #000000;
$bridal-heath: #FFFBF5;

// Buttons
$dark-grey-blue: #95A9B5; // Also text.
$hover-dark-grey-blue: #b3c5cf;

// Popup colors
$popup-orange: #F29755; // Arrows, buttons.

// Borders
$light-yellow-opacity: rgba(255, 241, 217, .5);
$green: #78CB9A;
$border-blue: #000E14;

// Box shadow
$grey-blue-box-shadow: rgba(0, 14, 20, .2);
$brown-box-shadow: rgba(33, 17, 5, .06);
$brown-box-shadow-opacity: rgba(33, 17, 5, .21);

// Overlays
$overlay-dark: rgba(15, 45, 63, .81);
$overlay-light: rgba(149, 169, 181, .91);

// Hover
$hover-green: #86dfab;
$orange: #f18232;

// Table
$table-grey-blue: #e5eaed2e;
