$icomoon-font-path: "https://i.icomoon.io/public/1001758723/Twins" !default;
$icon-facebook: "\ea90";
$icon-instagram: "\ea92";
$icon-twins-logo: "\e900";

$icon-arrow: url(/wp-content/themes/custom-theme/dist/icons/Arrow-icon.svg);

$s-border-radius: 3px;
$m-border-radius: 10px;
$l-border-radius: 20px;
$xl-border-radius: 150px; // Basically make it round.
