.fp-ask-law-mini {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: $m-border-radius;
    padding: rem-calc(50) 0;
    background-size: cover;
    background-position: center;
    position: relative;

    &:before {
        content: "";
        opacity: .66;
        background-color: $darker-blue;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 1;
        border-radius: $m-border-radius;
    }

    &__title {
        color: $light-yellow;
        z-index: 2;
    }

    &__text {
        color: $off-white;
        width: 70%;
        text-align: center;
        z-index: 2;
    }

    .fp-button {
        z-index: 2;
    }

    @include large-up {
        margin-top: 0;
    }
}