.fp-ask-law {
    @include max-width-semi;
    background-color: $grey-blue;
    padding: 2rem 2rem 4rem 2rem;

    &.fp-duo {
        &__left {
            border-top-left-radius: $m-border-radius;
            border-top-right-radius: $m-border-radius;
            background-size: cover;
            background-position: center;
        }

        &__right {
            background-color: $darker-blue;
            border-bottom-left-radius: $m-border-radius;
            border-bottom-right-radius: $m-border-radius;
            display: flex;
            justify-content: center;
        }
    }

    &__text-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: white;
        text-align: center;
        padding: 2rem;
    }

    &__title {
        color: white;
    }

    &__text {
        margin: 1rem 0;
    }

    &__button-img {
        @include to-white;
        height: 18px;
    }

    @include large-up {
        padding: 4rem 9rem;

        .fp-duo {
            &__left {
                border-top-left-radius: $m-border-radius;
                border-bottom-left-radius: $m-border-radius;
                border-top-right-radius: 0;
            }

            &__right {
                border-top-right-radius: $m-border-radius;
                border-bottom-right-radius: $m-border-radius;
                border-bottom-left-radius: 0;
            }
        }

        &__text-container {
            padding: 5rem;
        }
    }
}