.fp-ask-law-form {
    @include max-width-semi;
    background-color: $off-white;

    &.fp-duo {
        grid-template-rows: auto 1fr !important;
    }

    &__text {
        width: 75%;
    }

    &__ingress {
        font-size: rem-calc(20);
    }

    &__form {
        @include inputareas;
        @include submit;

        form {
            p:first-of-type {
                margin-bottom: 0;
            }

            p:nth-of-type(2) {
                @include field-left;
            }

            p:nth-of-type(3) {
                @include field-right;
            }

            @include submit-with-text;
        }
    }
}


// Form
.wpcf7 {
    .ajax-loader {
        display: none;
    }
}

.wpcf7-not-valid-tip {
	color: #F18969 !important;
    font-size: rem-calc(14);
    margin-left: 1rem;
}

.wpcf7 form .wpcf7-response-output {
    float: left;
    margin: 0;
    font-size: rem-calc(14);
    color: $border-blue;
    background-color: #FFE7BE;
    border: none;
    padding: .3rem 1rem;
    width: 100%;
}

.wpcf7 form[data-status=sent] .wpcf7-response-output {
    background-color: #78CB9A;
    font-weight: bold;
    color: white;
}