.fp-commercial-law-listing {
    &__title {
        font-size: 1rem;
        font-weight: 900;
    }

    &__fields {
        height: rem-calc(150);
        overflow: hidden;
        transition: height .3s;

        &.show-more {
            height: rem-calc(510);
        }

        &-link {
            margin-top: 0;
            margin-bottom: .5rem;
            transition: color .3s;

            &:hover {
                color: $popup-orange;
            }
        }
    }

    &__show-button {
        margin-top: rem-calc(25);
        color: $dark-grey-blue;
        cursor: pointer;
    }

    @include medium-up {
        &__fields {
            columns: 2;

            &.show-more {
                height: rem-calc(270);
            }
        }
    }

    @include large-up {
        &__fields {
            columns: 2;

            &.show-more {
                height: rem-calc(310);
            }
        }
    }
}