.fp-commercial-law{
	@extend .grid-view-container;
	padding-top: rem-calc(50);
	background-color: $off-white;

	&--max-width {
		@include max-width-full;
		background-color: $off-white;
	}
}

.fp-commercial-law-field {
	background-color: $white;
	cursor: pointer;
	background-color: $grey-blue;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: $s-border-radius;
	@include fp-box-shadow(rgba(0, 14, 20, .2));
	@extend .grid-view-cell;

	&--link {
		@extend .linkable-cell;
		position: relative;

		&:before {
			@include gradient-dark-blue;
			opacity: .7;
			border-radius: $s-border-radius;
			content: "";
			height: 100%;
			width: 100%;
			top: 0;
			display: block;
			position: absolute;
			transition: opacity .3s ease-in;
		}

		&:hover {
			&:before {
				opacity: .2;
			}
		}
	}

	&__content {
		padding: rem-calc(20);
		height: rem-calc(231);
		overflow: hidden;
		word-break: break-word;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		transition: padding 0.3s ease-out;
		cursor: pointer;

		> h3 {
			margin: 0;
			z-index: 10;
		}

		> img {
			@include to-white;
			width: rem-calc(25);
		}
	}
}