.fp-single-commercial-law {
	@include max-width-full;
    padding: 0 rem-calc(20) rem-calc(40) rem-calc(20);
	margin: auto;
	position: relative;
	background-color: $off-white;

	&__title {
		font-size: rem-calc(32);
		line-height: rem-calc(38);
		text-align: center;
		max-width: 75%;

		@include large-up {
			font-size: rem-calc(56);
			line-height: rem-calc(56);
		}
	}

	&__img {
		height: rem-calc(329);
		position: relative;
		border-radius: $m-border-radius;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&-content {
		padding-top: rem-calc(50);

		&__left {
			@include article-content-styling;
		}

		&__ask-law {
			margin-bottom: rem-calc(50);
		}
	}

	&__posts{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;

		&-item{
            width: 50%;
            margin-top: 1rem;

			.fp-link{
				margin: 0;

                &__arrow {
                    margin-right: .5rem;
                }

                &:hover {
                    .fp-link__arrow {
                        margin-left: 0;
                    }
                }
			}
		}
	}

	@include medium-up {
		padding-left: rem-calc(40);
		padding-right: rem-calc(40);

	}

	@include large-up {
		&__img {
			height: rem-calc(503);
		}

        &-content {
            display: grid;
            grid-template-columns: 1fr 150px 35%;

            &__left {
                grid-column: 1;
                padding: 0 rem-calc(40);
            }

            &__right {
                grid-column: 3;
            }
        }
	}

	@include xlarge-up {
		padding-left: 6.5rem;
		padding-right: 6.5rem;
	}
}