.fp-com-law-competence {
    @include max-width-semi;
	padding-left: rem-calc(20);
	padding-right: rem-calc(20);
	background-color: $off-white;

    &__feat {
        width: 100%;
        height: rem-calc(366);
        border-radius: $m-border-radius;
        background-position: center;
        background-size: cover;

        &-image {
            width: 100%;
        }
    }

    &__content {

        &-left {
            padding: rem-calc(45) rem-calc(45) 0 rem-calc(45);
        }

        &-right {
            padding: rem-calc(45) 0;
        }

        p {
            font-size: rem-calc(20);
        }

        @include large-up {
            display: grid;
            grid-template-columns: 1fr 150px 35%;

            &-left {
                grid-column: 1;
                padding: rem-calc(45);
            }

            &-right {
                grid-column: 3;
            }
        }
    }

    @include medium-up {
		padding-left: rem-calc(40);
		padding-right: rem-calc(40);
	}

	@include xlarge-up {
		padding-left: rem-calc(100);
		padding-right: rem-calc(100);
	}
}