.fp-buttons {
    @include max-width-full;
    background-color: $off-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem-calc(80) 0;

    > a:not(:last-of-type) {
        margin-bottom: rem-calc(19);
    }
}