.certificates-container {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding-left: 4rem;
    max-width: 118.75rem;
    margin-left: auto;
    margin-right: auto;
   
    @include medium-down {
        justify-content: center;
        margin-left: 0;
    }
    
}

.certificates-flexbox {
    transition: .5s;
    background-color: #fff;

    @include medium-down {
        flex: 40%;
        margin: 5px;
        display: flex;
        justify-content: center;
        margin-left: 0;
    }

    :hover{
        background-color: #F5F7F8;
    }

    >img {
        max-height: 8rem;
        padding: 1rem;
        cursor: pointer;
    }
}

.certificate-popup-read-more {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(43, 66, 75, .8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 12;

    &.toggle {
        display: flex;
    }

    &--boldify {
        font-weight: 900;
    }

    &--no-margin-top {
        margin-top: 0;
    }

    &__title {
        margin: 0;
        font-size: rem-calc(18);
    }

    &__popup {
        position: absolute;
        width: 50%;
        left: 25%;
        top: 25%;
        width: 50%;
        background-color: white;
        border-radius: $m-border-radius;
		@include medium-down {
			padding: rem-calc(40);

		}
        padding: rem-calc(55);
        text-align: left;

        &-price {
            font-size: rem-calc(18);
        }

        &-link {
            font-size: rem-calc(16);
            color: $darker-grey-blue;
            font-family: "TT Hoves", sans-serif;
        }
    }

    &__close {
        position: absolute;
        top: rem-calc(22);
        right: rem-calc(22);
        font-size: rem-calc(12);
        text-decoration: none;
        color: $darker-grey-blue;
		cursor: pointer;

        &-img {
            height: 8px;
            width: 8px;
        }
    }
}

.certificate-image-popup-container {
    max-width: 50%;
}


.certificate-popup-container {
	display: flex;
	justify-content: center;

	@include medium-down {
		flex-direction: column;
	}
}

.certificate-image-popup {
	width: 100%;
    padding: 5rem;
}

.certificates-popup-text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	>a {
		text-decoration: none;
	}
}

