.fp-collab {
    @include max-width-full;
    background-color: $lighter-dark-grey-blue;
    text-align: center;

    &__title {
        color: $collab-blue;
    }

    &__partners {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        div, a {
            margin-left: 1rem;
        }

        &-logo {
            width: 40%;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    @include medium-up {
        &__partners {
            &-logo {
                width: 170px;
            }
        }
    }
}