.fp-digital-legal {
    @include max-width-semi;
    background-color: $yellow;
    padding-top: 2rem;

    &__links {
        display: none;
    }

    &__blog {
        &-links {
            max-width: 100%;
            text-decoration: none;
            margin-right: 3rem;

            &:hover .fp-digital-legal__blog-title,
            &:hover .fp-digital-legal__blog-text {
                color: $popup-orange;
            }
        }

        &-title, &-text {
            transition: all .3s;
        }
    }

    @include large-up {
        padding-top: auto;

        &__links {
            display: flex;
            align-items: center;
            margin: 2rem 0 4rem 0;

            &-wrapper {
                display: flex;
                flex-wrap: wrap;
                align-content: flex-start;
            }
        }

        &__blog {
            &-links {
                max-width: 160px;
                text-decoration: none;
            }
        }
    }
}