.fp-digital-cta {
    @include fp-box-shadow($brown-box-shadow);
    padding: rem-calc(50);
    border-radius: $l-border-radius;
    text-align: center;
    background-color: white;

    .fp-button {
        margin: 0 auto rem-calc(14) auto;
        width: auto;

        @include medium-up {
            width: max-content;
        }
    }

    &__link {
        font-size: rem-calc(14);
        color: $dark-grey-blue;
    }
}