.fp-digital-services{
    @extend .grid-view-container;
    padding-top: rem-calc(50);
	background-color: $off-white;

	&--max-width {
		@include max-width-full;
		background-color: $off-white;
	}
}

.fp-digital-service {
    background-color: white;
	border-radius: $m-border-radius;
	@extend .grid-view-cell;

	&--link {
		@extend .linkable-cell;
		height: 100%;
	}

	&__title {
		margin-top: 0;
	}

	&__bread {
		margin: 0;
	}

	&__link {
		margin: 15px 0 0 0;
		transition: all .3s;

		> .fp-link__arrow{
			margin-left: rem-calc(5);
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: rem-calc(35);
		height: 100%;
		overflow: hidden;
		word-break: break-word;
	}

	&:hover {
		.fp-digital-service__link {
			color: $popup-orange;
		}
	}
}