.fp-digital-services-list{
    @include xy-grid;
    list-style: none;
    background-color: $white;
    margin: 0;
    padding: rem-calc(80);

    &--max-width {
		@include max-width-full;
		background-color: $off-white;
	}

    >h3{
        @include xy-cell(full);
    }

    &__item{
        @include xy-cell(full);
    }

    @include medium-up {
		&__item{
            @include xy-cell(1 of 2);
        }
	}

	@include large-up {
        &__item{
            @include xy-cell(1 of 4);
        }
	}
}