.fp-hero {
    @include max-width-full;
    position: relative;
    height: 80vh;
    max-height: 800px;
    overflow: hidden;

    &__img {
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__video {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 2rem;
    }

    &__title {
        @include top-title;
        color: white;
        width: 100%;
    }

    &__link {
        color: $popup-orange;
        font-weight: 900;
        margin-top: rem-calc(24);
        font-size: rem-calc(20);
    }

    @include large-up {
        &__content {
            padding: rem-calc(55) rem-calc(160);
        }

        &__title {
            width: 50%;
        }
    }
}