.fp-just-text {
    @include max-width-semi;
    padding-top: 4rem;

    &__title {
        margin-bottom: rem-calc(30);
    }

    p {
        color: $darker-blue;
    }

    &__date {
        color: $dark-grey-blue !important;
        margin-top: rem-calc(60);
    }

    @include large-up {
        width: 70%;
    }
}