.fp-latest-news {
    @include max-width-full;
    background-color: white;

    &--front {
        background-color: $off-white;

        .fp-latest-news__wrapper {
            .fp-post-article {
                background-color: $off-white;
            }
        }
    }

    &__wrapper {
        .fp-post-article {
            background-color: white;
        }

        &--desktop {
            display: none;
        }

        &--mobile {
            width: 100%;

            .fp-post-article {
                opacity: .5;

                &.slick-current {
                    opacity: 1;
                }
            }

            .slick-list {
                padding-left: 0 !important;
            }
        }
    }

    > .fp-articles {
        &--mobile {
            padding-right: 0;
        }

        > h2 {
            @include xy-cell(full);
            margin-top: rem-calc(60);
            margin-bottom: rem-calc(30);
        }

        > .fp-link {
            @include xy-cell(full);
            margin-bottom: rem-calc(60);
        }

        > .fp-post-article {
            @include medium-up {
                @include xy-cell(full);
            }

            @include large-up {
                @include xy-cell(1 of 3);
            }
        }
    }

    @include large-up {
        &__wrapper {
            &--desktop {
                display: flex;
                flex-wrap: wrap;
            }

            &--mobile {
                display: none;
            }
        }

        > .fp-articles {
            &--mobile {
                padding-right: 6.25rem;
            }
        }
    }
}