.fp-legalroom-content {
    @include max-width-full;
    padding: 2rem 2rem 0 2rem;
    background-color: $off-white;

    @include large-up {
        padding: 4rem 9rem 0 9rem;
    }

    &__article {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        align-items: center;
    }

    &__right, &__left {
        .fp-legalroom-content {
            &__image {
                grid-column: 1;
                grid-row: 1;
            }

            &__content {
                grid-column: 1;
                grid-row: 2;
            }
        }
    }

    &__image {
        margin: rem-calc(10);

        img {
            border-radius: $m-border-radius;
        }
    }

    &__content {
        margin: rem-calc(30);

        &-title {
            font-size: rem-calc(24);
            font-weight: 900;
            line-height: rem-calc(34);
        }

        &-text {
            font-size: 1rem;
        }
    }

    @include large-up {
        &__article {
            grid-template-columns: 50% 50%;
            grid-template-rows: 100%;
        }
    
        &__right {
            .fp-legalroom-content {
                &__image {
                    grid-column: 1;
                    grid-row: 1;
                }
    
                &__content {
                    grid-column: 2;
                    grid-row: 1;
                }
            }
        }
    
        &__left {
            .fp-legalroom-content {
                &__image {
                    grid-column: 2;
                    grid-row: 1;
                }
    
                &__content {
                    grid-column: 1;
                    grid-row: 1;
                }
            }
        }

        &__image {
            margin: rem-calc(30);
        }

        &__content {
            margin: rem-calc(90);
        }
    }
}