.fp-quotes {
    @include max-width-full;
    background-color: white;
    overflow: hidden;
    padding: 2rem 0;

    &__quote {
        font-size: 1.25rem;
        transition: color .3s;
    }

    &__who {
        font-size: .75rem;
        transition: color .3s;
    }

    &__img {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        height: rem-calc(78);
        width: rem-calc(78);
        overflow: hidden;
        border-radius: $xl-border-radius;

        img {
            max-width: none;
            height: 100%;
            left: 50%;
        }
    }

    &__link {
        margin-top: 2rem;
        margin-bottom: 3rem;
        color: $dark-grey-blue;
    }

    &__slider {
        padding: 0 0 5px;
    }

    &__slides {
        height: 80vh;
        width: auto;
        padding: 2vh;
    }

    &__slide {
        text-align: center;
        text-decoration: none;
        color: $darker-grey-blue;

        &:hover {

            .fp-quotes {
                &__quote, &__who {
                    color: $popup-orange;
                }
            }
        }
    }

    .slick-slide {
        width: 70vw;
        padding: 2rem 2rem 0 2rem;
        box-sizing: border-box;

        p {
            color: $grey-blue-opacity;
        }
    }

    .slick-current {
        p {
            color: $darker-grey-blue;
        }
    }
}