.fp-showcase {
    @include max-width-semi;
    background-color: white;

    &__intro {
        text-align: center;
        margin-bottom: rem-calc(20);

        &-small-text {
            @include small-category-text(14, 3, 900); // Font size, letter spacing, font weight
        }

        &-text {
            width: 90%;
            margin: 1rem auto;

            @include large-up {
                width: 50%;
            }
        }
    }

    &__main {
        display: grid;
        grid-template-columns: 100%;
        align-items: center;

        // Section everything out
        &-image, &-video {
            grid-column: 1;
            grid-row: 1;
            margin: 0 auto;
        }

        &-video {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100%;
            min-height: 350px;

            iframe {
                position: absolute;
                top: -75%;
                height: 250%;
                left: -40%;
                width: 180%;
            }

            @include medium-up {
                iframe {
                    top: -50%;
                    left: -73%;
                    width: 250%;
                    height: 200%;
                }
            }
        }

        section { // Last 3 of type
            grid-column: 1;
        }

        section:first-of-type {
            margin-top: rem-calc(20);
        }

        section:not(:last-of-type) {
            margin-bottom: rem-calc(20);
        }

        @include large-up {
            grid-template-columns: rem-calc(220) 2rem 1fr 2rem rem-calc(220);
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

            &-image, &-video {
                grid-column: 3;
                grid-row: 1 / span 5;
            }

            section:nth-last-child(-n + 3) { // Last 3 of type
                grid-column: 5;
            }

            section:nth-child(-n + 4) { // First 3 of type
                grid-column: 1;
            }

            section:first-of-type, section:nth-last-of-type(3) {
                grid-row: 2;
                margin-bottom: 1rem;
                margin-top: 0;
            }

            section:nth-of-type(2), section:nth-last-of-type(2) {
                grid-row: 3;
                margin-bottom: 1rem;
            }

            section:nth-of-type(3), section:last-of-type {
                grid-row: 4;
                margin-bottom: 0;
            }
        }
    }

    &__content {
        &-title {
            font-size: rem-calc(14);
            line-height: 21px;
            font-weight: 900;
            margin: 0;
        }

        &-text {
            font-size: rem-calc(14);
            line-height: 21px;
            margin: 0;
        }

        @include large-up {
            text-align: center;
        }
    }

    &__nav {
        margin-top: rem-calc(25);
        display: flex;
        flex-direction: column;
        align-items: center;

        &-link {
            margin-top: rem-calc(20);
            font-size: rem-calc(13);
            color: $darker-grey-blue;
        }
    }
}