.fp-text-beside-cards {
    @include max-width-semi;
    background-color: $off-white;
    display: flex;
    flex-direction: column;

    &__main {
        width: 100%;
        margin-right: rem-calc(80);

        &-link {
            color: $popup-orange;
            font-weight: 500;
        }
    }

    &__cards {
        display: flex;
        flex-direction: column;
    }

    &__card {
        background-color: $darker-blue;
        border-radius: $m-border-radius;
        width: 100%;
        margin-top: 2rem;

        &-icon {
            max-height: 25px;
        }

        .fp-link__arrow  {
            @include to-white;
        }

        .fp-link__arrow {
            align-self: flex-start;
        }

        &-link {
            margin-top: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: rem-calc(25);
        }

        &-title, &-text {
            color: white;
        }

        &-title {
            font-size: rem-calc(20);
            font-weight: 900;
            line-height: rem-calc(24);
        }

        &-text {
            font-size: rem-calc(16);
            line-height: rem-calc(22);
        }
    }

    @include medium-up {
        &__cards {
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            article:not(:last-of-type) {
                margin-right: 1rem;
            }
        }

        &__card {
            width: 47%;
        }
    }

    @include xlarge-up {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__main {
            width: 40%;
            padding-left: rem-calc(20);
        }

        &__cards {
            justify-content: start;
            padding-right: rem-calc(20);
            width: 100%;
        }

        &__card {
            margin-top: 1rem;
        }
    }
}