.fp-text-content {
    display: flex;
    margin: rem-calc(80) 0;

    &__wrapper {
       max-width: 65%;
       margin: auto;

        p {
            margin-top: rem-calc(40);
            font-size: rem-calc(16);
        }
    }

    @include large-up {
        &__wrapper {
            height: rem-calc(300);

             p {
                column-count: 2;
                column-gap: rem-calc(20);
             }
         }
    }
}