.fp-text-and-image {
    background-color: $off-white;

    // Switch side
    &__right {
        &__left {
            grid-column: 1;
        }

        @include large-up {
            .fp-duo {
                &__left {
                    grid-column: 2;
                }

                &__right {
                    grid-column: 1;
                }
            }
        }
    }

    &__title {
        font-size: rem-calc(24);
        font-weight: 900;
        line-height: 34px;
    }

    &__img {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            @include fp-box-shadow($brown-box-shadow);
            border-radius: $m-border-radius;
            width: 90%;
            border: 5px solid $border-blue;

            @include medium-up {
                width: 50%;
            }

            @include large-up {
                width: 70%;
            }
        }
    }

    ul {
        columns: 2;
        list-style-type: '- ';
        padding-left: 10px;
        font-weight: 100;
        font-size: .875rem;
    }
}