.fp-text-with-table {
    background-color: $off-white;

    &__max-width {
        @include max-width-semi;
    }

    strong {
        font-weight: 900;
    }

    &__title {
        margin-bottom: rem-calc(60);
    }

    &__table-container {
        overflow-x: scroll;
    }

    &__table {
		min-width: 900px;
		border-collapse: collapse;
    	border: 1px solid $lighter-dark-grey-blue;

        &-heading, &-cell {
            border: 1px solid $lighter-dark-grey-blue;
            padding: rem-calc(14);
            font-family: "TT Hoves", sans-serif;
        }

        &-heading {
            text-align: left;
            font-weight: 500;
            font-size: rem-calc(14);
        }

        &-cell {
            font-weight: 100;
            font-size: rem-calc(14);
        }

        tr:nth-child(even) {
            background-color: rgba(187, 200, 208, .5);
        }
    }

    p {
        color: $darker-blue;
    }

    &__date {
        color: $dark-grey-blue !important;
    }

    @include medium-up {
        &__max-width {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @include large-up {
        &__table-container {
            overflow-x: auto;
        }

        &__table {
            min-width: 100%;
        }
    }
}