.fp-text-with-cards {
    @include max-width-full;
    display: flex;
    flex-direction: column;

    &__main {
        background-color: $yellow;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 2rem;

        @include medium-up {
            flex-direction: row;
        }

        @include large-up {
            padding: 4rem 9rem;
        }
    }

    &__image {
        width: 90%;

        @include medium-up {
            width: 45%;
        }
    }

    &__content {
        width: 90%;
        padding-top: 2rem;

        &-title {
            font-weight: 900;
            margin-bottom: rem-calc(35);
        }

        @include medium-up {
            width: 40%;
            padding-top: 0;
            padding-left: rem-calc(65);
        }
    }

    &__cards {
        position: relative;

        &-container {
            @include max-width-full;
            display: grid;
            grid-template-columns: 1fr;
            flex-wrap: wrap;
            padding: 0 2rem;

            @include medium-up {
                grid-template-columns: 1fr 10px 1fr;

                article:not(:last-of-type) {
                    margin-right: 1rem;
                }

                article:nth-of-type(2) {
                    grid-column: 3;
                }
            }

            @include large-up {
                grid-template-columns: 1fr 10px 1fr 10px 1fr;
                padding: 0 9rem;

                article:last-of-type {
                    grid-column: 5;
                }
            }
        }

        &-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 50%;
            background-color: $yellow;
        }
    }

    &__card {
        @include fp-box-shadow($brown-box-shadow);
        width: 100%;
        background-color: white;
        padding: rem-calc(45) rem-calc(22);
        border-radius: $m-border-radius;
        margin-bottom: 1rem;
        text-align: center;
        z-index: 2;

        &-title {
            font-weight: 900;
        }

        &-button {
            margin: 0 auto;
            width: 100%;
            font-size: rem-calc(14);
            padding: rem-calc(10) rem-calc(25);
        }

        @include medium-up {
            &-button {
                width: max-content;
            }
        }
    }
}