.fp-top-banner {
    @include max-width-full;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: rem-calc(382);
    padding: 2rem;

    &__title, &__text, &__button {
        z-index: 10;
    }

    &__title {
        font-size: rem-calc(32);
        line-height: rem-calc(38);
        width: 75%;
        text-align: center;

        @include large-up {
            font-size: rem-calc(56);
            line-height: rem-calc(56);
        }
    }

    &__text {
        width: 75%;
        text-align: center;
        font-size: 1.125rem;

        @include xlarge-up {
            width: 50%;
        }
    }

    &__button {
        margin-top: 1rem;
    }

    &__overlay{
        background-color: $darker-grey-blue;
        opacity: 0.8;
        position: absolute;
        height: 100%;
        width: 100%;
    }
}