.fp-video-text {
    @include max-width-full;
    background-color: white;
    padding: 2rem;

    .fp-duo__right__text {
        margin: 2rem 0 0 0;
    }

    // Switch side
    &__right {
        &__left {
            grid-column: 1;
        }

        @include large-up {
            .fp-duo {
                &__left {
                    grid-column: 2;

                    &__video {
                        min-height: 500px;
                    }
                }

                &__right {
                    grid-column: 1;
                }
            }
        }
    }

    @include large-up {
        padding: 5rem;

        .fp-duo {
            &__right__text {
                margin: 2rem 2rem 4rem 2rem;
            }

            &__text-container {
                width: 75%;
            }
        }
    }
}