.fp-we-can {
    @include max-width-full;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;

    &__overlay {
        position: absolute;
        height: 100%;
        width: 100%;

        &__1 {
            background-color: $overlay-dark;
        }

        &__2 {
            background-color: $overlay-light;
        }
    }

    &__content {
        position: relative;
        padding: 5rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-size: cover;
        background-color: $darker-blue;
        text-align: center;

        h2, p {
            max-width: 320px;
        }

        h2 {
            z-index: 10;
            font-weight: 900;
            color: $light-yellow;
            line-height: 32px;
        }

        p {
            z-index: 10;
            color: $off-white;
        }

        .fp-button {
            z-index: 10;
        }
    }

    &__button {
        &__1 {
            background-color: $popup-orange;
            transition: background-color .3s;

            &:hover {
                background-color: $orange;
            }
        }

        &__2 {
            background-color: $off-white;
            color: $darker-blue;
            transition: background-color .3s;

            &:hover {
                background-color: $grey-blue;
            }
        }
    }

    @include large-up {
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;

        h2, p {
            width: 50%;
        }
    }
}