// Make block go full width.
.wp-block {
    max-width: 100%;
}

.editor-styles-wrapper {
    padding: 0 !important;

    .block-editor-block-list__block {
        margin: 0;
    }

    .acf-block-preview {
        position: relative;
    }

    .fp-quotes {
        // Fix selectable bug.
        &.is-admin {
            &:before {
                display: block;
                content: "";
                top: 0;
                left: 0;
                right: 0;
                bottom: 40px;
                position: absolute;
                z-index: 1;
            }
        }
    }
}



// Block Styling
.editor-styles-wrapper .acf-block-preview {
    @import './partials/components/components';
    @import './partials/base/typography';

    @import './partials/components/digital-service';
    @import './partials/components/articles';

    @import './partials/components/blocks/ask-law/ask-law';
    @import './partials/components/blocks/ask-law/form';
    @import './partials/components/blocks/text-with-cards';
    @import './partials/components/blocks/contact/contact-form';
    @import './partials/components/blocks/contact/contact';
    @import './partials/components/blocks/contact/coworkers';
    @import './partials/components/blocks/quotes';
    @import './partials/components/blocks/latest-news';
    @import './partials/components/blocks/hero';
    @import './partials/components/blocks/video-and-text';
    @import './partials/components/blocks/text-and-image';
    @import './partials/components/blocks/text-beside-cards';
    @import './partials/components/blocks/we-can';
    @import './partials/components/blocks/buttons';
    @import './partials/components/blocks/top-banner';
    @import './partials/components/blocks/commercial-law/commercial-law';
    @import './partials/components/blocks/digital-legal';
    @import './partials/components/blocks/digital-services';
    @import './partials/components/blocks/digital-services-list';
    @import './partials/components/blocks/packages/packages';
    @import './partials/components/blocks/packages/packages-and-prices';
    @import './partials/components/blocks/showcase';
}
