.fp-articles-header {
	margin: 0;

    .categories-nav {
        list-style: none;
        padding: 0;
        display: flex;
		justify-content: center;
		margin-top: rem-calc(40);
		margin-bottom: rem-calc(40);

        > li {
            margin-right: rem-calc(10);
            margin-left: rem-calc(10);

            > a {
                display: inline-block;
				text-decoration: none;
				transition: all 0.3s ease-out;

				&:hover{
					@extend .text-darker-grey-blue;
				}
            }
        }

        &--active-category {
			@extend .text-darker-grey-blue;
			@extend .text-bold;
        }
    }

	@include large-up {
		.categories-nav {
			>li {
				margin-right: rem-calc(20);
            	margin-left: rem-calc(20);
			}
		}
	}
}

.fp-articles {
	@extend .grid-view-container;
}

.fp-post-article {
	background-color: $white;
	@extend .grid-view-cell;

	&:hover {
		.fp-post-article__content h2 {
			color: $popup-orange;
		}
	}

	&--link {
		@extend .linkable-cell;
	}

	&__img {
		height: rem-calc(240);
		@extend .cell-img;

		img {
			border-radius: $s-border-radius;
		}

		&--placeholder {
			width: 100%;
			height: 100%;
			background-color: $grey-blue;
		}
	}

	&__content {
		overflow: hidden;
		word-break: break-word;

		h2 {
			transition: all .3s;
		}
	}
}

nav.navigation.pagination {
	text-align: center;
	padding: rem-calc(20) 0;
	@include xy-cell(full);

	> .nav-links {
		> a {
			text-decoration: none;
			@extend .text-darker-grey-blue;
		}

		> .next {
			background-color: $darker-blue;
			padding: rem-calc(5);
			border-radius: $s-border-radius;
			@extend .text-white;
			@extend .text-bold;
		}

		> .prev {
			background-color: $darker-blue;
			padding: rem-calc(5);
			border-radius: $s-border-radius;
			@extend .text-white;
			@extend .text-bold;
		}

		> .current {
			@extend .text-dark-grey-blue;
		}
	}
}

.fp-single-article{
	padding-left: rem-calc(20);
	padding-right: rem-calc(20);
	padding-bottom: rem-calc(40);
	max-width: rem-calc(1400);
	margin: auto;
	position: relative;

	&--background {
		@include max-width-full;
		background-color: $off-white;
	}

	>.fp-backgroud-divider{
		display: block;
		position: absolute;
		height: rem-calc(329)/2;
		background-color: $white;
		left: 0;
		width: 100%;
	}

	&__img {
		height: rem-calc(329);
		position: relative;
		border-radius: $m-border-radius;
		background-repeat: no-repeat;
    	background-position: center;
    	background-size: cover;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&-content {
		@include xy-grid;
		padding: rem-calc(50) 0;

		&__left {
			@include xy-cell(full);

			.fp-post-quote {
				display: none;

				&__quote {
					max-width: 30ch;
					margin-top: rem-calc(40);
					margin-bottom: 0;
					font-size: rem-calc(20);
					font-weight: 900;
					color: $dark-grey-blue;
	
					&:before{
						content: '“';
						margin-right: rem-calc(-4); // Remove space between quote content and ".
					}
	
					&:after{
						content: '”';
						margin-left: rem-calc(-4);
					}
				}

				&__name {
					font-size: rem-calc(14);
					margin: 0;
					color: $dark-grey-blue;
				}
			}
		}

		&__right {
			@include xy-cell(full);

			p:first-of-type {
				margin-top: 0;
			}
		}

		&__ingress {
			font-size: rem-calc(20);
			color: $darker-blue;
			margin-bottom: rem-calc(30);
			margin-top: 0;
		}

		&__main-text {
			font-size: rem-calc(18);
			color: $mirage;

			p:first-of-type {
				margin-top: 0;
			}
		}
	}

	@include medium-up {
		padding-left: rem-calc(40);
		padding-right: rem-calc(40);
	}

	@include xlarge-up {
		padding-left: rem-calc(100);
		padding-right: rem-calc(100);
	}

	@include large-up {
		>.fp-backgroud-divider{
			display: none
		}

		&__img {
			height: rem-calc(503);
		}

		&-content {
			&__left {
				@include xy-cell(shrink);
				width: rem-calc(400);

				> .fp-post-quote {
					display: block;
				}
			}

			&__right {
				padding-left: rem-calc(50);
				@include xy-cell(auto);
			}
		}
	}
}

.fp-customer-cases {
	margin-top: rem-calc(100);

	&__title {
        font-size: rem-calc(20);
        font-weight: bold;
        color: $darker-blue;
	}

	&__category {
        margin-bottom: 0;
    }

    &__quote-holder {
        font-size: rem-calc(12);
    }


	&__single {
		@include max-width-full;
		background-color: $off-white;
	}
}