/*
* General styling for the components.
*/

.fp-container {
    padding: 2rem 2rem 4rem 2rem;

    @include large-up {
        padding: 4rem 9rem;
    }
}

// Double sided container
.fp-duo {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60vh 1fr;
    width: 100%;

    &--smaller-rows {
        grid-template-rows: 40vh 1fr;
    }

    &--auto-rows {
        grid-template-rows: auto 1fr;
    }

    &__left__text, &__right__text {
        margin: 2rem 2rem 4rem 2rem;
    }

    &__video {
        margin: 0 0 3rem 0;
    }

	@include large-up {
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        height: auto;

		&__left {
            grid-column: 1;
            grid-row: 1;
            margin: 0;

            &__text {
                margin-right: 7rem;
            }
        }

        &__right {
            grid-column: 2;
            grid-row: 1;

            &__text {
                margin-left: 7rem;
            }
        }

        &--text-center {
            display: flex;
            align-items: center;
            margin-top: 7rem;
            margin-bottom: 7rem;
        }

        &--text-left {
            margin-left: 9rem;
        }
	}
}

// Video container
.fp-video {
    &__video {
        height: 100%;
        display: flex;
        justify-content: center;
        position: relative;
    }

    &__youtube-thumbnail {
        @include fp-box-shadow(rgba(0, 0, 0, .16));
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        position: absolute;
        background-size: cover;
        background-position: center;
        border-radius: $l-border-radius;

        &__play {
            color: white;
            cursor: pointer;
        }
    }

    &__background {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .5);
        z-index: 6;
        display: none;
    }

    &__pause-container {
        width: 90%;
        display: flex;
        justify-content: flex-end;

        @include large-up {
            width: 50%;
        }
    }

    &__pause {
        margin-bottom: rem-calc(10);
        cursor: pointer;

        img {
            height: 20px;
            filter: brightness(0) invert(1);
        }
    }

    &__video.playing {
        .fp-video {
            &__background {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            &__iframe {
                width: 90%;
                height: 60%;

                @include large-up {
                    width: 50%;
                }
            }
        }
    }
}