.fp-single-digital-service{
	padding-left: rem-calc(40);
	padding-right: rem-calc(40);
	padding-bottom: rem-calc(40);
	max-width: rem-calc(1440);
	margin: auto;
	position: relative;
	background-color: $off-white;

	&--max-width {
		@include max-width-full;
		background-color: $off-white;
	}

	> .fp-backgroud-divider{
		display: block;
		position: absolute;
		height: rem-calc(329)/2;
		background-color: $white;
		left: 0;
		width: 100%;
	}

	&__img {
		height: rem-calc(329);
		position: relative;
		border-radius: $m-border-radius;
		background-repeat: no-repeat;
    	background-size: cover;
		background-position: center;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		h1 {
			font-size: rem-calc(32);
			line-height: rem-calc(38);
			max-width: 75%;
			text-align: center;

			@include large-up {
				font-size: rem-calc(56);
				line-height: rem-calc(56);
			}
		}
	}

	&-content {
		@include xy-grid;
		padding: rem-calc(50) 0;

		&__left {
			@include xy-cell(full);
			@include article-content-styling;
		}

		&__right {
			@include xy-cell(full);

			@include large-up {
				max-width: rem-calc(420);
			}
		}

		&__video {
            width: 100%;
            height: rem-calc(311);
			position: relative;
			margin: 3rem 0 3rem 0;

			@include large-up {
				margin: 0 0 3rem 0;
			}
		}
	}

	@include xlarge-up {
		padding-left: rem-calc(100);
		padding-right: rem-calc(100);
	}

	@include large-up {
		> .fp-backgroud-divider{
			display: none
		}

		&__img {
			height: rem-calc(503);
		}

		&-content {
			&__left {
                @include xy-cell(auto);
                padding-right: rem-calc(50);
			}

			&__right {
                @include xy-cell(shrink);
				min-width: rem-calc(470);
			}
		}
	}
}