.site-footer {
    @include max-width-full;
    display: -ms-grid;
        display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 1fr auto auto;;
        grid-template-rows: 1fr auto auto;
    box-sizing: border-box;
    background-color: $darker-blue;
    font-family: "TT Hoves";
    color: $off-white;
    padding: 3rem 1.5rem;

    &__info {
        grid-column: 1;
        grid-row: 1;

        &-text {
            color: $off-white;
            margin: 0 0 55px 0;
            font-size: rem-calc(16);

            b {
                font-weight: 900;
            }
        }
    }

    &__form-container {
        &-img {
            @include to-white;
            height: rem-calc(12);
        }
    }

    &__form {
        .wpcf7-response-output {
            display: none;
        }

        &-title {
            display: block;
            margin-bottom: .5rem;
            font-size: 0.875rem;
            font-weight: 500;
            color: white;
        }

        form {
            display: flex;
            height: rem-calc(35);

            p:nth-of-type(2) {
                display: flex;
            }

            p {
                margin: 0;
            }

            input[type=text] {
                height: 100%;
                width: 100%;
                font-size: rem-calc(12);
                padding: 0 rem-calc(12);
            }

            input[type=submit] {
                background: $dark-grey-blue url(/wp-content/themes/custom-theme/dist/icons/Arrow-icon-white.svg) center center no-repeat;
                text-indent: rem-calc(-9999);
                box-shadow: none;
                font-size: 0;
                min-width: rem-calc(25);
                width: rem-calc(35);
                height: 100%;
                padding: 0;
                border: none;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    &__navigation {
        grid-column: 1;
        grid-row: 2;
        font-size: rem-calc(16);
        margin-top: 3rem;

        .unclickable {
            > a {
                pointer-events: none;
                font-weight: bold;
                margin-bottom: 10px;
                display: block;
            }

            ul > li {
                margin-bottom: 10px;
            }
        }

        .no-show-footer {
            display: none;
        }

        .menu-footer-container {
            height: 100%;
        }

        #footer {
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @include large-up {
                justify-content: flex-end;
            }

            > li {
                width: 49%;

                @include medium-up {
                    width: 140px;

                    &:not(:last-of-type) {
                        margin-right: 15px;
                    }
                }

                @include medium-down {
                    margin-bottom: 15px;
                }
            }

            li {
                a {
                    color: $off-white;
                    font-size: rem-calc(16);
                    text-decoration: none;
                    transition: all .3s;

                    &:hover {
                        color: $popup-orange;
                    }
                }
            }
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }

    &__bottom {
        grid-column: 1;
        grid-row: 3;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 5rem;

        &-text, &-logo, &-socials {
            font-size: rem-calc(14);
        }

        &-logo {
            order: -1;
            width: 100%;
            margin-bottom: 1.5rem;

            &-img {
                @include to-white;
            }
        }

        &-socials {
            a:not(:last-of-type) {
                margin-right: rem-calc(14);
            }
        }

        &-link {
            color: $off-white;
            text-decoration: none;
            transition: all .3s;
            margin-left: rem-calc(5);

            &:hover {
                color: $popup-orange;
            }
        }
    }

    @include large-up {
        -ms-grid-columns: 1fr 4rem 1fr 4rem 1fr;
            grid-template-columns: 1fr 4rem 1fr 4rem 1fr;
        -ms-grid-rows: 1fr auto;
            grid-template-rows: 1fr auto;
        padding: 5rem;

        &__navigation {
            grid-column: 3 / span 3;
            grid-row: 1;
            margin-top: 0;

            .menu-menu-1-container > ul {
                grid-template-columns: 2fr 1fr 1fr;

                > li:first-of-type {
                    grid-column: auto;
                }
            }
        }

        &__bottom {
            grid-column: 1 / span 5;
            grid-row: 2;
            text-align: left;
            flex-direction: row;
            justify-content: space-between;

            &-logo {
                order: initial;
                width: auto;
                margin-bottom: auto;
            }
        }
    }
}
