.fp-header {
    &--max-width {
		@include max-width-full;
        height: 100%;
        display: -ms-grid;
            display: grid;
        -ms-grid-columns: 75% 1fr;
            grid-template-columns: 75% 1fr;
        -ms-grid-rows: 72px 1fr;
            grid-template-rows: 72px 1fr;
        font-family: "TT Hoves", sans-serif;
    }

    .no-show-header {
        display: none;
    }

    &__branding {
        -ms-grid-row-align: center;
            align-self: center;
        margin-left: rem-calc(25);

        &-img {
            @include to-darker-blue;
        }
    }

    &__main-navigation, &__ask, &__login, &__socials {
        display: none;
    }

    .back-arrow, .to-arrow {
        display: none;
    }

    .menu-toggle {
        justify-self: end;
        margin-right: rem-calc(20);
        cursor: pointer;

        &__close {
            display: none;
        }

        #Line_6, #Line_5 {
            transition: all .5s;
        }

        // For Safari; Specify start transform.
        #Line_6 {
            transform: translate(11px, 9px);
        }

        #Line_5 {
            transform: translate(4px, 17px);
        }

        &:hover {
            #Line_6 {
                transform: translate(1px, 9px) scaleX(2);
            }

            #Line_5 {
                transform: translate(1px, 17px) scaleX(3);
            }
        }
    }

    &.toggled {
        background-color: $darker-blue;
        animation-name: open-navigation;
        animation-duration: .3s;
        animation-timing-function: ease-in;
        height: 100vh;
        width: 100%;
        z-index: 1000;
        position: fixed;
        top: 0;

        .no-show-toggle {
            display: none;
        }

        @keyframes open-navigation {
            from {
                background-color: white;
                height: rem-calc(72);
            }

            to {
                height: 100vh;
                background-color: $darker-blue;
            }
        }

        .menu-toggle {
            &__open {
                display: none;
            }

            &__close {
                display: block;
                height: rem-calc(25);
                width: rem-calc(18);
                transition: transform .6s ease-out;

                &:hover {
                    transform: rotate(180deg);
                }
            }
        }

        /* Navigation links */
        .fp-header__main-navigation {
            display: block;
            -ms-grid-column: 1;
            -ms-grid-column-span: 2;
                grid-column: 1 / span 2;

            .menu-menu-1-container {
                margin: 0 rem-calc(25);
                height: 100%;

                > ul {
                    height: 100%;
                }
            }

            #primary-menu {
                position: relative;
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    a {
                        display: flex;
                        justify-content: space-between;
                        color: $off-white;
                        text-decoration: none;
                        padding: 10px 0;
                        border-bottom: 1px solid $light-yellow-opacity;
                        transition: all .3s;

                        &:hover {
                            color: $popup-orange !important;
                            text-decoration: none !important;
                        }

                        img {
                            @include to-light-yellow;
                        }
                    }

                    ul {
                        display: none;
                    }
                }

                .menu-item-has-children {
                    > a {
                        .to-arrow {
                            display: block;
                        }
                    }
                }

                .show-children {
                    // The children.
                    a {
                        .to-arrow, .back-arrow {
                            display: none;
                        }
                    }

                    ul {
                        display: block;
                    }
                }
            }

            .menu-item-has-children.show-submenu {
                display: block;
                position: absolute;
                top: 0;
                height: 100%;
                width: 100%;
                background-color: $darker-blue;
                column-fill: balance;
                z-index: 1000;

                > a {
                    justify-content: flex-start;
                    transition: all .3s;

                    .to-arrow {
                        display: none;
                    }
                }

                .back-arrow {
                    @include to-light-yellow;
                    -webkit-transform: scaleX(-1);
                        transform: scaleX(-1);
                    cursor: pointer;
                    display: block;
                    -webkit-column-span: all;
                        -moz-column-span: all;
                            column-span: all;
                    margin-right: 1rem;
                }

                .to-arrow {
                    display: none;
                }

                > ul {
                    display: block;
                    height: 90%;
                    overflow-y: scroll;
                    padding: rem-calc(5);

                    .back-arrow {
                        display: none;
                    }

                    a {
                        border-bottom: none;
                        font-size: rem-calc(16);
                    }

                    &:before {
                        position: absolute;
                        bottom: 0;
                        content: "";
                        background: linear-gradient(0deg, $darker-blue 0%, rgba(255,255,255,0) 100%);
                        width: 100%;
                        height: 30%;
                    }
                }
            }
        }

        .fp-header__ask {
            display: flex;
            align-items: center;
            -ms-grid-column: 1;
            -ms-grid-column-span: 2;
                grid-column: 1 / span 2;
            color: $yellow;
            text-decoration: none;
            margin: rem-calc(20) 0 rem-calc(20) rem-calc(45);

            &-img {
                @include to-white;
                height: rem-calc(41);
            }

            &-grouping {
                display: flex;
                flex-direction: column;
                margin-left: rem-calc(30);
                font-weight: 500;
            }

            &-toggle-text {
                display: inline-block;
                color: $light-yellow;
                font-size: 0.875rem;
            }
        }

        .menu-toggle {
            line {
                stroke: white;
            }
        }

        .fp-header__branding-img {
            @include to-white;
        }

        .fp-header__login {
            -ms-grid-column: 1;
            -ms-grid-column-span: 2;
                grid-column: 1 / span 2;
            height: rem-calc(62);
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $light-yellow;
            padding-left: rem-calc(45);
            text-decoration: none;

            &:visited {
                color: $darker-blue;
            }

            &-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: rem-calc(64);
                background-color: $popup-orange;

                &-img {
                    @include to-white;
                }
            }
        }
    }

    @include large-up {
        &--max-width {
            -ms-grid-columns: 1fr 1fr auto rem-calc(64) rem-calc(64);
                grid-template-columns: 1fr 1fr auto rem-calc(64) rem-calc(64);
            -ms-grid-rows: rem-calc(72) 1fr 7%;
                grid-template-rows: rem-calc(72) 1fr 7%;
        }

        .menu-toggle {
            -ms-grid-row: 1;
                grid-row: 1;
            -ms-grid-column: 4;
                grid-column: 4;
        }

        &__main-navigation {
            display: block;
            align-self: center;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;

                .current-menu-item {
                    a {
                        border-bottom: 2px solid $popup-orange;
                    }
                }

                .no-show-desktop {
                    display: none;
                }

                li {
                    margin-right: 2rem;

                    a {
                        color: $darker-blue;
                        text-decoration: none;
                        padding-bottom: rem-calc(2);
                        transition: all .3s;
                        border-bottom: 2px solid white;

                        &:hover {
                            border-bottom: 2px solid $popup-orange;
                        }

                        .to-arrow, .back-arrow {
                            display: none !important; // To override .menu-item-has-children.show-submenu.
                        }
                    }

                    // Hide children
                    ul {
                        display: none;
                    }
                }
            }
        }

        &__ask {
            align-self: center;
            display: block;
            -ms-grid-row: 1;
                grid-row: 1;
            -ms-grid-column: 3;
                grid-column: 3;
            background-color: $darker-blue;
            color: $yellow;
            border-radius: $xl-border-radius;
            padding: .3rem 1rem;
            text-decoration: none;
            transition: all .3s;

            &-img {
                @include to-white;
                margin-right: rem-calc(10);
                width: rem-calc(18);
                height: rem-calc(18);
            }

            &-toggle-text {
                display: none;
            }

            &:hover {
                background-color: $dark-blue;
            }
        }

        &__login {
            -ms-grid-row: 1;
                grid-row: 1;
            -ms-grid-column: 5;
                grid-column: 5;
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            background-color: $popup-orange;
            color: white;
            font-size: 0.625rem;
            transition: all .3s;
            text-decoration: none;

            &:visited {
                color: white !important;
            }

            &-icon-img {
                @include to-white;
                background-color: transparent;
            }

            &:hover {
                background-color: $orange;
            }
        }

        &.toggled {
            -ms-grid-rows: rem-calc(72) 1fr rem-calc(72);
                grid-template-rows: rem-calc(72) 1fr rem-calc(72);

            .no-show-desktop {
                display: block;
            }

            .no-show-toggle {
                display: none;
            }

            .fp-header__main-navigation {
                display: block;
                -ms-grid-row: 2;
                    grid-row: 2;
                -ms-grid-column: 1;
                -ms-grid-column-span: 6;
                    grid-column: 1 / span 6;
                height: 100%;
                padding: 3rem 5rem;

                .show-submenu {
                    position: relative;

                    .arrow-back {
                        display: none;
                    }
                }

                .menu-menu-1-container {
                    height: 100%;
                    margin: 0;

                    > ul {
                        display: -ms-grid;
                            display: grid;
                        -ms-grid-columns: 2fr 1fr 1fr;
                            grid-template-columns: 2fr 1fr 1fr;

                        > li {
                            > a {
                                color: $lighter-dark-grey-blue;
                            }
                        }

                        > li:first-of-type {
                            grid-column: auto;
                            grid-row: auto / span 2;

                            > ul {
                                columns: 2;
                            }
                        }

                        > li:nth-of-type(2) {
                            grid-row: auto / span 2;
                        }

                        .show-children {
                            ul {
                                border-top: none;
                            }
                        }

                        > li {
                            margin: 0;

                            ul {
                                display: block;
                            }

                            a {
                                border-bottom: none;
                                font-family: "TT Hoves", sans-serif;
                                font-weight: 100;

                                &::after {
                                    content: none; // Remove arrow.
                                }

                                &:hover {
                                    text-decoration: underline;
                                }
                            }

                            > a {
                                font-size: 1.5rem;
                            }

                            ul a {
                                font-size: 1rem;
                            }
                        }
                    }
                }

                .menu-item-has-children.show-submenu {
                    display: block;
                    position: inherit;
                    top: auto;
                    height: auto;
                    width: auto;
                    background-color: transparent;

                    > ul::before {
                        content: none;
                    }
                }
            }

            .fp-header__ask {
                display: flex;
                -ms-grid-column: 3;
                    grid-column: 3;

                &-img {
                    @include to-white;
                    margin-top: rem-calc(3); // Align with the untoggled one.
                    margin-right: rem-calc(14); // Align with the untoggled one.
                    width: rem-calc(18);
                    height: rem-calc(18);
                }

                &-grouping {
                    margin-left: 0;
                }

                &-toggle-text {
                    display: none;
                }
            }

            .fp-header__login {
                -ms-grid-row: 1;
                    grid-row: 1;
                -ms-grid-column: 5;
                    grid-column: 5;
                justify-content: center;
                padding: 0;
                height: auto;
                background-color: $popup-orange;
                text-decoration: none;

                &-icon {
                    height: auto;
                    background-color: transparent;
                }

                &:hover {
                    background-color: $orange;
                }
            }

            .fp-header__socials {
                display: flex;
                justify-content: space-between;
                -ms-grid-row: 3;
                    grid-row: 3;
                -ms-grid-column: 1;
                -ms-grid-column-span: 6;
                    grid-column: 1 / span 6;
                padding: 0 5rem;
                color: $off-white;

                &-grouping {
                    a:first-of-type {
                        margin-right: .5rem;
                    }
                }

                &-link {
                    color: $off-white;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}