// OBS: I need to override the custom style tag from the plugin, 
// which means that i need to use the flag !Important because there 
// are no class to ovveride. 

.cookie-bar-container { 
    display: flex;
    padding: rem-calc(10);
    align-items: center;
}
.cookie-bar-description {
    text-align: left;
    flex: 2;

    p, a {
        color: #fff8eb;
        font-size: rem-calc(16);
    }
    p {
        max-width: 60%;
        margin: 0 0 0 10%;
    }
}

/* 
    Cookie-bar-buttons
*/
.cookie-bar-button-container {    
    display: flex;
    flex-direction: row;
    flex: 1;
}

.cli-plugin-button {
    padding: rem-calc(15);
}

.cli_settings_button {
    background-color: transparent !important; // Settings in WP does not allow for transperent background
}

.cli_action_button {
    width: rem-calc(160);
    border-radius: rem-calc(30);
}

// pop-up button
.cli-tab-footer .wt-cli-privacy-accept-btn {
    padding-left: rem-calc(20);
    padding-right: rem-calc(20);
    background-color: #78CB9A;
    border-radius: rem-calc(30);
}