/*
* Fonts.
*/

@font-face {
    font-family: "TT Hoves";
    font-weight: 300;
    font-style: normal;
    src: url("/wp-content/themes/custom-theme/dist/fonts/TTHoves/TTHovesRegular/font.woff2") format("woff2"),
    url("/wp-content/themes/custom-theme/dist/fonts/TTHoves/TTHovesRegular/font.woff") format("woff");
}

@font-face {
    font-family: "TT Hoves";
    font-weight: 300;
    font-style: italic;
    src: url("/wp-content/themes/custom-theme/dist/fonts/TTHoves/TTHovesItalic/font.woff2") format("woff2"),
    url("/wp-content/themes/custom-theme/dist/fonts/TTHoves/TTHovesItalic/font.woff") format("woff");
}

@font-face {
    font-family: "TT Hoves";
    font-weight: 400;
    font-style: normal;
    src: url("/wp-content/themes/custom-theme/dist/fonts/TTHoves/TTHovesMedium/font.woff2") format("woff2"),
    url("/wp-content/themes/custom-theme/dist/fonts/TTHoves/TTHovesMedium/font.woff") format("woff");
}

@font-face {
    font-family: "TT Hoves";
    font-weight: 400;
    font-style: italic;
    src: url("/wp-content/themes/custom-theme/dist/fonts/TTHoves/TTHovesMediumItalic/font.woff2") format("woff2"),
    url("/wp-content/themes/custom-theme/dist/fonts/TTHoves/TTHovesMediumItalic/font.woff") format("woff");
}

@font-face {
    font-family: "TT Hoves";
    font-weight: 500;
    font-style: normal;
    src: url("/wp-content/themes/custom-theme/dist/fonts/TTHoves/TTHovesDemiBold/font.woff2") format("woff2"),
    url("/wp-content/themes/custom-theme/dist/fonts/TTHoves/TTHovesDemiBold/font.woff") format("woff");
}

@font-face {
    font-family: "TT Hoves";
    font-weight: 500;
    font-style: italic;
    src: url("/wp-content/themes/custom-theme/dist/fonts/TTHoves/TTHovesDemiBoldItalic/font.woff2") format("woff2"),
    url("/wp-content/themes/custom-theme/dist/fonts/TTHoves/TTHovesDemiBoldItalic/font.woff") format("woff");
}

@font-face {
    font-family: "TT Hoves";
    font-weight: 700;
    font-style: normal;
    src: url("/wp-content/themes/custom-theme/dist/fonts/TTHoves/TTHovesBold/font.woff2") format("woff2"),
    url("/wp-content/themes/custom-theme/dist/fonts/TTHoves/TTHovesBold/font.woff") format("woff");
}

@font-face {
    font-family: "TT Hoves";
    font-weight: 700;
    font-style: italic;
    src: url("/wp-content/themes/custom-theme/dist/fonts/TTHoves/TTHovesBoldItalic/font.woff2") format("woff2"),
    url("/wp-content/themes/custom-theme/dist/fonts/TTHoves/TTHovesBoldItalic/font.woff") format("woff");
}