//Breakpoints
@mixin small-up {
	@media #{$small-up} {
		@content;
	}
}

@mixin small-only {
	@media #{$small-only} {
		@content;
	}
}

@mixin medium-up {
	@media #{$medium-up} {
		@content;
	}
}

@mixin medium-down {
	@media (max-width: map-get($breakpoints, medium)) {
		@content;
	}
}

@mixin large-up {
	@media #{$large-up} {
		@content;
	}
}

@mixin large-only {
	@media #{$large-only} {
		@content;
	}
}

@mixin xlarge-up {
	@media #{$xlarge-up} {
		@content;
	}
}

@mixin xxlarge-up {
	@media #{$xxlarge-up} {
		@content;
	}
}


//Rules
@mixin site-width {
	max-width: rem-calc(1920);
	margin: 0 auto;
}

//Components.
@mixin arrow-after($thickness: 2px, $orientation: left, $size: 12px, $space: 0.5em, $color: black) {
	&::after {
		content: "";
		width: $size;
		height: $size;
		margin-left: $space;
		border-right: $thickness solid $color;
		border-bottom: $thickness solid $color;

		@if ($orientation == right) {
			transform: rotate(-45deg);
		}

		@if ($orientation == left) {
			transform: rotate(135deg);
		}

		@if ($orientation == down) {
			transform: rotate(45deg);
		}

		@if ($orientation == up) {
			transform: rotate(-135deg);
		}
		display: inline-block;
	}
}

//Typography mixins
@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
	$u1: unit($min-vw);
	$u2: unit($max-vw);
	$u3: unit($min-font-size);
	$u4: unit($max-font-size);

	@if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
		& {
			font-size: $min-font-size;

			@media screen and (min-width: $min-vw) {
				font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
			}

			@media screen and (min-width: $max-vw) {
				font-size: $max-font-size;
			}
		}
	}
}

/* Flexfix used for grid systems that are justified with ex. space-between */
@mixin flexfix() {
	&:after {
		content: '';
		flex: auto;
	}
}

//Box shadow
@mixin fp-box-shadow($color: #000) {
	box-shadow: 0 21px 23px $color;
}

//Fonts
@mixin montserrat-regular() {
	font-family: 'Font-Name', sans-serif;
	font-weight: 400;
}

/* All header tags for convinience */
@mixin headers() {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@content;
	}
}

/* Filters */
@mixin to-white {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(18deg) brightness(118%) contrast(117%);
}

@mixin to-light-yellow {
	filter: invert(96%) sepia(7%) saturate(1882%) hue-rotate(310deg) brightness(106%) contrast(104%);
}

@mixin to-darker-blue {
	filter: invert(12%) sepia(10%) saturate(5958%) hue-rotate(167deg) brightness(92%) contrast(90%);
}

.grid-view-container{
	@include xy-grid;
	max-width: rem-calc(1400);
	margin: auto;
	padding-left: rem-calc(20);
	padding-right: rem-calc(20);
	padding-bottom: rem-calc(40);

	@include medium-up {
		padding-left: rem-calc(40);
		padding-right: rem-calc(40);
	}
	@include xlarge-up {
		padding-left: rem-calc(100);
		padding-right: rem-calc(100);
	}
}

.grid-view-cell {
	@include xy-gutters($gutter-position: left right bottom);
	@include xy-cell(full);

	@include medium-up {
		@include xy-cell(1 of 2);
	}

	@include xlarge-up {
		@include xy-cell(1 of 3);
	}
}

.linkable-cell{
	color: $black;
	display: block;
	margin: 0;
	padding: 0;
	font-weight: normal;
	text-decoration: none;
}

.hoverable-cell {
	box-shadow: rem-calc(0) rem-calc(0) rem-calc(0) $grey-blue-box-shadow;
	transition: box-shadow 0.3s ease-out;
	cursor: pointer;

	&:hover {
		@include fp-box-shadow($grey-blue-box-shadow);
	}
}

.cell-img{
	> img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

// Mixins for forms
@mixin submit {
	input[type=submit] {
		background-color: $darker-blue;
		color: white;
		border-radius: $xl-border-radius;
		padding: rem-calc(14) rem-calc(50);
		font-size: 1rem;
	}
}

@mixin inputareas {
	input, textarea {
		font-size: rem-calc(14);
		padding: 1rem;
		border: none;
		border-radius: $m-border-radius;
		width: 100%;
	}
}

@mixin submit-with-text {
	p:nth-last-of-type(2) {
		width: min-content;
		float: left;
		margin-right: 1rem;
	}

	p:last-of-type {
		display: flex;
		flex-direction: column;
		width: 50%;
		float: left;
		font-size: rem-calc(14);
		color: $lighter-dark-grey-blue;
	}
}

@mixin field-left {
	width: 49%;
	float: left;
}

@mixin field-right {
	width: 49%;
	float: right;
}

@mixin max-width-full {
	max-width: rem-calc(1900);
	margin-left: auto;
	margin-right: auto;
}

@mixin max-width-semi {
	max-width: rem-calc(1500);
	margin-left: auto;
	margin-right: auto;
}

@mixin top-title {
	font-size: rem-calc(46);
	line-height: rem-calc(46);

	@include large-up {
		font-size: rem-calc(56);
		line-height: rem-calc(56);
	}
}

@mixin small-category-text($size: 14px, $spacing: 3, $font-weight: 900) {
	font-size: rem-calc($size);
	letter-spacing: rem-calc($spacing);
	font-weight: $font-weight;
	color: $popup-orange;
	text-transform: uppercase;
}

@mixin gradient-dark-blue {
	background: rgb(15,45,63);
	background: linear-gradient(0deg, rgba(15,45,63,0.89) 0%, rgba(0,14,20,0.24) 100%);
}

// Styling for article content.

@mixin article-content-styling {
	> p {
		@extend .text-md;
		margin-bottom: 0;
	}

	> ul {
		column-count: 2;
		column-gap: 2rem;
		list-style-type: "-";
		padding: 0 0 0 rem-calc(15);

		li {
			padding-left: rem-calc(5);
			-webkit-column-break-inside: avoid;
				page-break-inside: avoid;
					break-inside: avoid;
		}
	}

	> p, > ul {
		a {
			color: #000000;
			transition: all .3s;

			&:hover {
				color: $popup-orange;
			}
		}
	}
}