// .site:not(.loaded) {
// 	display: none;
// }
//
// .site-main {
// 	@include breakpoint(xlarge up) {
// 		margin-top: 130px;
// 	}
//
// 	@include breakpoint(medium only) {
// 		margin-top: 110px;
// 	}
// }

.site-main {
	padding-top: 50px;

	&--mobile {
		padding-bottom: 50px;
	}

	&_first-page {
		padding-top: 0px;
	}

	@media #{$medium-up} {
		&--mobile {
			padding-bottom: 0px;
		}
	}

	@media #{$large-up} {
		padding-top: 125px;

		&_first-page {
			padding-top: 0px;
		}
	}

	&--no-padding {
		padding: 0;
	}

	&--background-color {
		background-color: white;
	}
}

.logged-in-margin {
	margin-top: 46px;
	transition: margin-top .10s linear;

	&.scrolled {
		margin-top: 10px;
	}
	@include large-up {
		margin-top: 32px;

		&.scrolled {
			margin-top: 32px;
		}
	}
}

.main-wrapper {
	@include max-width-full;
	background-color: white;

	&--yellow {
		background-color: $yellow;
	}

	&--off-white {
		background-color: $off-white;
	}
}

.fp-not-found {
	@include max-width-full;
	padding: 5rem 0;
	background-color: $off-white;

	strong {
		font-weight: 900;
	}

	&__header, &__content {
		width: 55%;
		margin: 0 auto;
		text-align: center;
	}

	&__title {
		font-size: 5rem;
		line-height: 1;
	}

	&__content {
		p {
			margin: 0;
		}
	}

	@include medium-up {
		&__title {
			font-size: rem-calc(132);
		}
	}
}

