// Add the common look typography css here
h1 {
    margin: 0;
    line-height: rem-calc(38);
    font-family: "TT Hoves", sans-serif;
    font-weight: 900;
    font-size: 2rem;
    color: $darker-blue;
}

h2 {
    margin: 0;
    line-height: rem-calc(32);
    font-family: "TT Hoves", sans-serif;
    font-weight: 100;
    font-size: rem-calc(26);
    color: $darker-blue;
}

h3 {
    font-size: 1.25rem;
    font-family: "TT Hoves", sans-serif;
    font-weight: 100;
    line-height: rem-calc(23);
    color: $darker-blue;
}

p {
    font-family: "TT Hoves", sans-serif;
    font-weight: 100;
    font-size: rem-calc(18);
    line-height: rem-calc(27);
    color: $dark-blue;
}

.bigger-text {
    font-size: rem-calc(20);
    line-height: rem-calc(30);
}

.fp-link {
    display: block;
    text-decoration: none;
    font-family: "TT Hoves", sans-serif;
    font-weight: 400;
    color: $darker-blue;
    margin-top: 2rem;

    &__text {
        margin-right: rem-calc(20);
        font-size: rem-calc(18);
        font-weight: 100;
        transition: all .3s;
    }

    &__arrow {
        transition: all .3s;

        &--orange {
            filter: invert(76%) sepia(27%) saturate(1938%) hue-rotate(322deg) brightness(101%) contrast(90%);
        }

        &--blue {
            filter: invert(66%) sepia(8%) saturate(561%) hue-rotate(159deg) brightness(98%) contrast(96%);
        }
    }

    &--small {
        margin-top: .25rem !important;
        font-size: .75rem;
        transition: all .3s;

        &:hover {
            color: $popup-orange;
        }
    }

    &--center {
        text-align: center;
    }

    @include medium-up {
        margin-top: 3rem;
    }

    &:hover {
        .fp-link__arrow {
            margin-left: rem-calc(20);
        }

        .fp-link__text {
            color: $popup-orange;
        }
    }
}

.fp-button {
    display: block;
    background-color: $darker-blue;
    padding: .5rem 0;
    width: 100%;
    color: $light-yellow;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: $xl-border-radius;
    transition: all .3s;

    &:hover {
        background-color: $dark-blue;
    }

    &--light {
        background-color: $dark-grey-blue;
        color: white;

        &:hover {
            background-color: $hover-dark-grey-blue;
        }
    }

    &--orange {
        background-color: $popup-orange;
        color: white;

        &:hover {
            background-color: $orange;
        }
    }

    &--green {
        background-color: $green;
        color: white;

        &:hover {
            background-color: $hover-green;
        }
    }

    &--light-grey {
        background-color: $lighter-dark-grey-blue;
        color: white;

        &:hover {
            background-color: $dark-grey-blue;
        }
    }

    &--grey {
        background-color: $lighter-dark-grey-blue;
        color: $darker-blue;

        &:hover {
            background-color: $dark-grey-blue;
        }
    }

    &--smaller {
        width: max-content;
        padding: rem-calc(10) rem-calc(50);
    }

    &--fixed-width {
        width: auto;
        padding-left: rem-calc(42);
        padding-right: rem-calc(42);
    }

    &--white-text {
        color: white;
    }
}

ul, ol {
    li {
        font-family: "TT Hoves", sans-serif;
        font-weight: 100;
        font-size: rem-calc(18);
        color: $mirage;
    }
}

.text {
    //Sizes
    &-xs {
        font-size: rem-calc(14);
    }
    &-sm {
        font-size: rem-calc(16);
    }
    &-md {
        font-size: rem-calc(20);
        line-height: rem-calc(28);
    }
    &-lg {
    }
    &-xl {
    }
    &-xxl {
    }

    //Modifiers
    &-normal {
        font-weight: 400;
    }
    &-bold {
        font-weight: 500;
    }
    &-bolder {
        font-weight: 700;
    }
    &-italic {
        font-style: italic;
    }

    //colors
    &-dark-grey-blue {
        color: $dark-grey-blue;
    }
    &-darker-grey-blue {
        color: $darker-grey-blue;
    }
    &-darker-blue {
        color: $darker-blue;
    }
    &-mirage {
        color: $mirage;
    }
    &-white {
        color: $white;
    }
}

.breadcrumbs {
    @include max-width-full;

    > span {
        max-width: rem-calc(1440);
        height: rem-calc(35);
        display: flex;
        align-items: center;
        margin: auto;
        color: $dark-grey-blue;
        font-size: rem-calc(12);
        padding-left: 2.5rem;
        padding-right: 2.5rem;

        a {
            color: $dark-grey-blue;
            text-decoration: none;
            font-size: rem-calc(12);
        }

        @include medium-up {
            padding-left: 2.75rem;
            padding-right: 2.75rem;
        }

        @include xlarge-up {
            padding-left: 6.50rem;
            padding-right: 6.50rem;
        }
    }

    &--grey {
        background-color: $off-white;
    }
}

p > a {
    color: $mirage;
    transition: all .3s;

    &:hover {
        color: $popup-orange;
    }

    &:visited {
        color: $mirage;
    }
}