.fp-order {
    @include max-width-semi;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    background-color: $off-white;

    .fp-stepper {
        grid-column: 1;
        grid-row: 1;
    }

    &__container {
        grid-column: 1;
        grid-row: 2;
    }

    .fp-order-info {
        grid-column: 1;
        grid-row: 3;
        margin-top: 2rem;
    }

    @include large-up {
        grid-template-columns: 1fr 50px 1fr;
        grid-template-rows: auto auto;

        .fp-stepper {
            grid-column: 1 / span 3;
            grid-row: 1;
        }

        &__container {
            grid-column: 1;
            grid-row: 2;
        }

        .fp-order-info {
            grid-column: 3;
            grid-row: 2;
            margin-top: 0;
        }
    }

    @include xlarge-up {
        grid-template-columns: 1fr 170px 1fr;
        grid-template-rows: auto auto;

        .fp-stepper {
            grid-column: 1 / span 3;
            grid-row: 1;
        }

        &__container {
            grid-column: 1;
            grid-row: 2;
        }

        .fp-order-info {
            grid-column: 3;
            grid-row: 2;
            margin-top: 0;
        }
    }
}