.fp-order-step-2 {
    &__subheading {
        margin-top: 3rem;
    }
}

.fp-adding-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;

    > div {
        width: 100%;
        margin-bottom: 1rem;
    }

    @include medium-up {
        > div:nth-of-type(odd) {
            width: calc(50% - 1rem);
        }

        > div:nth-of-type(even) {
            width: 50%;
        }
    }

    &__checkbox {
        display: none;

        &:checked + .fp-adding-form__label {
            border: 2px solid $green;
            @include fp-box-shadow($brown-box-shadow);

            .fp-adding-form__label-price {
                color: $darker-blue;
            }
        }
    }

    &__clear {
        justify-content: center;
        color: $dark-grey-blue;
        border: 2px solid white;
        min-height: 100px;

        &-set {
            @include fp-box-shadow($brown-box-shadow);
            border: 2px solid $green;
        }
    }

    &__label {
        border: 2px solid white;
    }

    &__label, &__clear {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        border-radius: $m-border-radius;
        background-color: white;
        text-align: center;
        transition: all .3s;
        height: 100%;
        width: 100%;

        &-type {
            font-size: rem-calc(12);
            text-transform: uppercase;
            color: $dark-grey-blue;
        }

        &-price {
            font-weight: 900;
            color: $dark-grey-blue;
        }

        &-read {
            font-size: rem-calc(12);
            color: $dark-grey-blue;
        }
    }
}