.fp-order-step-1 {
    &__error {
        background-color: rgba(189, 3, 3, 0.247);
        border: 2px solid rgba(189, 3, 3);
        padding: 1rem;
        margin-top: 2rem;
    }
}

.fp-bundle-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: rem-calc(35);

    &__heading {
        margin-top: 3rem;
    }

    > div {
        width: 100%;

        @include medium-up {
            width: 50%;
        }
    }

    input {
        display: none;

        &:checked + .fp-bundle-form__label {
            @include fp-box-shadow($brown-box-shadow);
            border: 2px solid $green;

            .fp-bundle-form__label-price {
                color: $darker-blue;
            }
        }
    }

    &__label {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        border-radius: $m-border-radius;
        background-color: white;
        text-align: center;
        transition: all .3s;
        margin-bottom: 1rem;
        margin-right: 1rem;
        border: 2px solid $white;

        &-type {
            font-size: rem-calc(12);
            text-transform: uppercase;
            color: $dark-grey-blue;
        }

        &-price {
            font-weight: 900;
            color: $dark-grey-blue;
        }

        &-read {
            font-size: rem-calc(12);
            color: $dark-grey-blue;
        }
    }
}

.fp-customer-form {
    display: flex;
    flex-direction: column;
    margin-top: rem-calc(20);

    &__heading {
        margin-top: 6rem;
    }

    input {
        height: 45px;
        padding: 1rem;
        margin-top: 1rem;
        border: none;
        font-size: rem-calc(14);
    }

    &__name {
        display: flex;
        flex-direction: column;

        &__first {
            width: 100%;
        }

        &__last {
            width: 100%;
        }

        @include medium-up {
            flex-direction: row;

            &__first {
                margin-top: 0 !important;
                margin-right: 1rem;
            }

            &__last {
                margin-top: 0 !important;
            }
        }
    }

    &__place {
        display: flex;

        &__zip {
            margin-right: 1rem;
            width: 100%;
        }

        &__place {
            width: 100%;
        }

        @include medium-up {
            &__zip {
                width: 40%;
            }
        }
    }
}