.fp-packages {
    @include max-width-semi;
    background-color: $off-white;
    overflow: hidden;

    &.fp-container {
        padding-left: 0;
        padding-right: 0;
    }

    .slick-current {
        opacity: 1;
    }

    .slick-list {
        margin: 0 -0.5rem;
        overflow: visible;
    }

    .slick-slide {
        margin: 0 .5rem;
    }

    /* Stretch out the boxes (height) */
    .slick-track, .slick-track .slick-slide {
        display: flex;
    }

    .slick-track .slick-slide {
        height: auto;
    }

    &__title, &__text {
        text-align: center;
    }

    &__title {
        font-weight: rem-calc(24);
        font-weight: 900;
    }

    &__text {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    &__wrapper {
        &--mobile, &--desktop {
            margin-top: 2rem;
        }

        &--desktop {
            display: none;
        }
    }

    @include large-up {
        &.fp-container {
            padding-left: 9rem;
            padding-right: 9rem;
        }

        &__wrapper {
            &--desktop {
                display: flex;
                justify-content: space-between;

                article:not(:last-of-type) {
                    margin-right: 1rem;
                }
            }

            &--mobile {
                display: none;
            }
        }

        &__text {
            width: 60%;
        }

        .package {
            opacity: 1;
        }
    }
}

.package {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32%;
    background-color: white;
    border-radius: $m-border-radius;
    padding: 2rem 1rem;
    box-sizing: border-box;
    opacity: .5;
    @include fp-box-shadow($brown-box-shadow);

    @include large-up {
        padding: 2rem;
    }

    &__type {
        @include small-category-text(12, 2, 500); // Font size, letter spacing, font weight
        margin-top: 0;
        line-height: 14px;
        text-align: center;
    }

    &__price {
        font-weight: 900;
        font-size: 1.25rem;
        text-align: center;
        margin: 0;
    }

    &__desc {
        text-align: center;
    }

    &__whats-init {
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        strong {
            font-weight: 900;
        }

        ul {
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 20px;
            columns: initial;
            list-style-image: url(/wp-content/themes/custom-theme/dist/icons/checkmark.svg);

            &.not-available {
                list-style-image: url(/wp-content/themes/custom-theme/dist/icons/checkmark-grey.svg);

                li {
                    color: $greyed-out-text;
                }
            }
        }

        p {
            margin-bottom: .5rem;
        }
    }

    .fp-button {
        margin-top: 2rem;
    }
}