$table-border: 1px solid $off-white;

.fp-packages-and-prices {
    @include max-width-semi;
    background-color: $off-white;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.fp-container {
        padding: 0;

        @include xlarge-up {
            padding: 4rem 9rem;
        }
    }

    &__title {
        font-size: rem-calc(32);
        line-height: rem-calc(38);
        padding-top: 3rem;

        @include large-up {
            font-size: rem-calc(56);
            line-height: rem-calc(56);
        }

        @include xlarge-up {
            padding-top: 0;
        }
    }

    &__title, &__text {
        text-align: center;
    }

    &__text {
        width: 75%;
    }

    &__bundles-container {
        width: 100%;
        margin-top: rem-calc(55);
        background-color: white;
        border-radius: $m-border-radius;
        padding: rem-calc(64) rem-calc(30) rem-calc(87) rem-calc(30);
    }

    &__bundles {
        width: 100%;
        color: $mirage;
        font-family: "TT Hoves", sans-serif;
        border-collapse: collapse;

        tr {
            display: flex;
            flex-wrap: wrap;
        }

        th {
            text-align: center;
            display: block;
            flex: 1;
            padding: rem-calc(10);

            &:first-of-type {
                display: none;
            }
        }

        td {
            display: block;
            flex: 1;
            padding: rem-calc(10);
            border: $table-border;
            font-size: rem-calc(14);

            &:not(:first-of-type) {
                text-align: center;
            }
        }

        &-choices {
            td:first-of-type {
                font-size: 1rem !important;
                width: 100%;
                flex: auto;
                text-align: center;
                border-bottom: none;
                background: $table-grey-blue;
            }

            td:not(:first-of-type) {
                border-top: none;
                border-left: none;
                border-right: none;
            }
        }

        &-prices {
            td {
                border: none;
            }

            td:first-of-type {
                display: none;
            }
        }

        &-price {
            display: inline-block;
            margin-top: 2rem;
            font-size: rem-calc(20) !important;
            font-weight: bold;
        }

        &-buttons {
            td:nth-of-type(2) {
                width: 100%;
                flex: auto;
                display: flex;
                justify-content: center;
                border: none;
            }

            td:not(:nth-of-type(2)) {
                display: none;
            }
        }

        &-name {
            @include small-category-text(12, 2, 500); // Font size, letter spacing, font weight
        }

        &-checkmark {
            height: rem-calc(15);
        }

        .fp-button {
            font-size: 1rem;
            font-weight: 500;
            margin-top: 2rem;
        }

        @include xlarge-up {
            tr {
                display: table-row;

                td:first-of-type {
                    width: auto;
                }
            }

            th, td, th:first-of-type, &-buttons td:not(:nth-of-type(2)), &-prices td:first-of-type {
                display: table-cell;
            }

            &-choices {
                td:first-of-type {
                    border-left: none;
                    text-align: left;
                }

                td:not(:first-of-type) {
                    border-top: $table-border;
                }

                td:not(:last-of-type) {
                    border-right: $table-border;
                }
            }

            &-prices {
                td:first-of-type {
                    border-top: $table-border;
                    border-right: $table-border;
                }
            }

            &-buttons {
                td:first-of-type {
                    border-top: none;
                    border-left: none;
                    border-bottom: none;
                }

                td:not(:nth-of-type(1)) {
                    border: none;
                }
            }
        }
    }
}