.fp-package-showcase {
    @include fp-box-shadow($brown-box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: $m-border-radius;
    padding: rem-calc(50) 0;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
    }

    &__title {
        margin: 0;
        font-weight: 900;
        font-size: rem-calc(20);
        color: $dark-grey-blue;
        text-align: center;
    }

    &__pricing {
        font-size: rem-calc(18);
        text-align: center;
    }

    &__list {
        &-title {
            margin: 0;
        }

        ul {
            margin: 0;
            padding-left: 20px;
            list-style-image: url(/wp-content/themes/custom-theme/dist/icons/checkmark.svg);
        }
    }

    &__button {
        margin-top: rem-calc(45);
    }
}